html, body {
  height: 100%;
}
body {
  overflow: hidden;
  margin: 0;
  font-family: 'helvetica neue', helvetica, sans-serif;
}
.canvas-wrapper {
  width: 250px;
  height: 250px;
  margin: auto;
  margin-top: 50px;
  background: url('~assets/avatar.png') no-repeat;
}

.info {
  text-align: center;
  margin-top: 30px;
}

.info span {
  color: red;
}

.tools {
  text-align: center;
}

.tools button {
  display: inline-block;
  width: 100px;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #eee;
  padding: 10px;
  outline: none;
  margin: 0 auto;
  margin-top: 30px;
}
